body {
  font-family: 'Roboto';

  /* https://uigradients.com/#Dull */
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.result {
  font-size: 3rem;
  width: 100%;
  word-wrap: break-word;
   /* word-break:break-all;
   white-space: normal */

}

.operation {
	background: #f7f7f7;
	width: 60%;
	margin: auto; /*Arriba abajo 100px derecha izquierda auto (para centrar)*/
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}
